<div class="nav-container">
    <div class="bg-dark navbar-dark" data-sticky="top">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                    <img alt="Wingman" src="assets/img/logo-posada-del-pinar.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="icon-menu h4"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link hvr-bob">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a href="#nuestrasCabañas" class="nav-link hvr-bob">Nuestras cabañas</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html" class="nav-link hvr-bob">Promociones</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html" class="nav-link hvr-bob">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown">Pages</a> -->
                            <div class="dropdown-menu" aria-labelledby="pagesDropdown">

                                <!-- <a class="dropdown-item" href="pages-landing.html">
                                    <span class="h6 mb-0">Landing Pages</span>
                                    <p class="text-small text-muted">Showcase your product in style</p>
                                </a> -->

                                <div class="dropdown-divider"></div>


                                <!-- <a class="dropdown-item" href="pages-app.html">
                                    <span class="h6 mb-0">App Pages</span>
                                    <p class="text-small text-muted">Build detailed, functional web apps</p>
                                </a> -->

                                <div class="dropdown-divider"></div>


                                <!-- <a class="dropdown-item" href="pages-inner.html">
                                    <span class="h6 mb-0">Inner Pages</span>
                                    <p class="text-small text-muted">Complete your online presence</p>
                                </a> -->


                            </div>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="componentsDropdown" role="button" data-toggle="dropdown">Components</a>
                            <div class="dropdown-menu" aria-labelledby="componentsDropdown">

                                <a class="dropdown-item" href="components-bootstrap.html">Bootstrap</a>

                                <a class="dropdown-item" href="components-wingman.html">Wingman</a>

                            </div>
                        </li> -->
                    </ul>

                    <ul class="navbar-nav">
                        <!-- <li class="nav-item">
                            <a href="#">Sign up</a>
                            <span>&nbsp;or&nbsp;</span><a href="#">Sign in</a>
                        </li> -->
                    </ul>

                </div>
                <!--end nav collapse-->
            </nav>
        </div>
        <!--end of container-->
    </div>
</div>

<div class="main-container">



    <section class="bg-dark text-white space-xlg">

        <img alt="Image" src="assets/img/slider10.jpg" class="bg-image" />

        <div class="container">
            <!-- <div class="row text-center justify-content-center section-intro">
                <div class="col-12 col-md-10 col-lg-8">
                    
                </div>
            </div> -->

            <!-- <div class="row text-center">
                <div class="col">
                    <slideshow [imageUrls]='imageUrls'
                                [height]="height"
                                
                                [autoPlay]="false"
                                [backgroundSize]="'contain'"
                                [backgroundPosition] = "'center center'"
                                [backgroundRepeat] = "'no-repeat'"
                                [showArrows]="true"
                                [showDots]="true"
                                [showCaptions]="true"
                                [captionColor]="'#FFF'"
                                [captionBackground]="'rgba(0, 0, 0, 0.35)'"></slideshow>                            
                </div>
            </div> -->

        </div>
    </section>



    <section>
        <div class="container">
            <div class="row justify-content-center text-center section-intro">
                <div class="col-12 col-md-9 col-lg-8">
                    <!-- <span class="title-decorative">Perfect for Startups</span> -->
                    <h2 id="nuestrasCabañas" class="display-4">Nuestras cabañas</h2>
                    <span class="lead">Nuestras cabañas en Tandil, están totalmente equipadas, quien nos visita solo debe traer su ropa en el
                        bolso y las ganas de disfrutar y descansar.</span>

                </div>

            </div>

            <div class="row features-list-custom">
                <div class="col-6 col-md-9 col-lg-8">
                    <ul class="box-shadow">
                        <li>
                            <i class="icon-home"></i> Capacidad para albergar de 2 a 6 personas</li>
                        <li>
                            <i class="icon">
                                <img alt="Image" src="assets/img/icon/swimming-silhouette.png" class="avatar avatar-xs" /> </i> Piscina de 100 m2 con deck</li>
                        <li>
                                <i class="icon">
                                        <img alt="Image" src="assets/img/icon/aire-acon.png" class="avatar avatar-xs" /> </i>Aire Acondicionado</li>
                        <li class="custom-wireless">
                            <i class="icon-signal avatar avatar-xs"></i> Acceso Internet inalámbrico</li>
                        <li>
                                <i class="icon">
                                        <img alt="Image" src="assets/img/icon/tv-led.png" class="avatar avatar-xs" /> </i> LCD de 32″ en todas las cabañas</li>
                        <li>
                                <i class="icon">
                                        <img alt="Image" src="assets/img/icon/bed3.png" class="avatar avatar-xs" /> </i>Sommier matrimonial. (Queen size en cab 4 y 5)</li>
                        <li class="avatar-custom">
                                <i class="icon">
                                        <img alt="Image" src="assets/img/icon/clothes-bed2.png" class="avatar avatar-square" /> </i>Ropa de cama y baño de exclusiva calidad</li>
                        <li class="avatar-custom-1">
                                <i class="icon">
                                        <img alt="Image" src="assets/img/icon/kitchen1.png" class="avatar avatar-square" /> </i>Cocina con horno</li>
                        <li class="avatar-custom-2">
                                <i class="icon">
                                        <img alt="Image" src="assets/img/icon/microway1.png" class="avatar avatar-square" /> </i>Microondas</li>
                        <li>Atendida por sus dueños</li>
                        <li>Seguridad y tranquilidad</li>
                    </ul>
                </div>

                <div class="col-6 col-md-9 col-lg-8">
                    <ul class="box-shadow">
                        <li>Amplio parque con añosa arboleda</li>
                        <li>Gran variedad de frutales</li>
                        <li>Parrilas individuales</li>
                        <li>Vajilla completa</li>
                        <li>Heladera</li>
                        <li>Baño privado</li>
                        <li>DVD</li>
                        <li>Direct TV</li>
                        <li>Estacionamiento y seguridad las 24hs</li>
                        <li>Calefacción a gas y a leña (estufa hogar)</li>
                        <li>Muebles estilo campestre</li>
                    </ul>
                </div>
            </div>

            <!-- <div class="row justify-content-center mb-5">
                <div class="col-12 text-center">
                    <img alt="Image" src="assets/img/slider16.jpg" class="avatar avatar-lg" />
                    <img alt="Image" src="assets/img/slider15.jpg" class="avatar avatar-lg" />
                    <img alt="Image" src="assets/img/slider12.jpg" class="avatar avatar-lg" />
                    <img alt="Image" src="assets/img/slider6.jpg" class="avatar avatar-lg" />
                </div>

            </div> -->

            <!-- <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="accordion" id="accordion-1" data-children=".accordion-item">
                        <div class="accordion-item">
                            <h4>Nuestros servicios</h4>
                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-1" aria-expanded="true" aria-controls="accordion-1">
                                <h5>Disponemos de 5 cabañas con</h5>
                                <i class="h5 icon-chevron-small-right"></i>
                            </a>
                            <div id="accordion-panel-1" class="collapse show" role="tabpanel">

                                <ul>
                                    <li>Capacidad para albergar de 2 a 6 personas</li>
                                    <li>Aire Acondicionado</li>
                                    <li>Acceso Internet inalámbrico</li>
                                    <li>LCD de 32″ en todas las cabañas</li>
                                    <li>Sommier matrimonial. (Queen size en cab 4 y 5)</li>
                                    <li>Ropa de cama y baño de exclusiva calidad</li>
                                    <li>Cocina con horno</li>
                                    <li>Microondas</li>
                                    <li>Vajilla completa</li>
                                    <li>Heladera</li>
                                    <li>Baño privado</li>
                                    <li>DVD</li>
                                    <li>Direct TV</li>
                                    <li>Estacionamiento y seguridad las 24hs</li>
                                    <li>Calefacción a gas y a leña (estufa hogar)</li>
                                    <li>Parrillas individuales</li>
                                    <li>Muebles estilo campestre</li>
                                </ul>

                            </div>
                        </div>
                        <div class="accordion-item">
                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-2" aria-expanded="false" aria-controls="accordion-1">
                                <h5>Caracteristicas principales</h5>
                                <i class="h5 icon-chevron-small-right"></i>
                            </a>
                            <div id="accordion-panel-2" class="collapse" role="tabpanel">
                                <ul>
                                    <li>Atendida por sus dueños</li>
                                    <li>Seguridad y tranquilidad</li>
                                    <li>Piscina de 100 m2 con deck</li>
                                    <li>Amplio parque con añosa arboleda</li>
                                    <li>Gran variedad de frutales</li>
                                    <li>Parrilas individuales</li>
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-3" aria-expanded="false" aria-controls="accordion-1">
                                <h5>Smart styling</h5>
                                <i class="h5 icon-chevron-small-right"></i>
                            </a>
                            <div id="accordion-panel-3" class="collapse" role="tabpanel">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->

        </div>

    </section>

    <!-- <section class="bg-white fullwidth-split">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-12 col-sm-5 col-lg-6 order-sm-2 fullwidth-split-image d-sm-flex align-items-center">
                    <img alt="Image" src="assets/img/photo-man-whiteboard.jpg" class="bg-image" />
                </div>

                <div class="col-12 col-sm-7 col-lg-6 order-sm-1 fullwidth-split-text">
                    <div class="col-12 col-sm-8">
                        <span class="title-decorative">Ready for Enterprise</span>
                        <h3 class="display-4">Build a stunning website or app</h3>
                        <span class="lead">
                            Este es un span que si lo copio se rompe
                        </span>
                        <a href="#" class="btn btn-outline-primary btn-lg">Tell me more</a>
                    </div>
                </div>

            </div>
        </div>
    </section> -->

</div>


<!-- <router-outlet></router-outlet > -->
<app-galeries></app-galeries>