
/* .text-center {
    text-align: unset !important;
    width: 30rem;
    margin-left: 20rem;
} */

.container {
    max-width: 100%;
}

.navbar-brand > img {
    max-width: 12rem;
}

.bg-dark{
 background-color: #F8BA87 !important;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  .features-list-custom {
    display: flex;
    justify-content: center;
  }

  .features-list-custom .col-6 {
    max-width:26rem;
  }

  .features-list-custom .col-6 ul {
    list-style: none;
    padding-left: 1.2rem;
  }

  .col-6 .box-shadow .avatar.avatar-xs {
    width: 1.25rem;
    height: 1.25rem;
  }

  .avatar-custom .avatar {
    width: 1.3rem;
    height: 1rem;
  }

  .avatar-custom-1 .avatar {
    width: 1rem;
    height: 0.8rem;
  }

  .avatar-custom-1 {
    margin-left: 0.17rem;
  }

  .custom-wireless {
    margin-left: 0.17rem;
  }

  .avatar-custom-2 .avatar {
    width: 1rem;
    height: 1rem;
    
  }

  .avatar-custom-2 img {
    margin-bottom: 0.1rem;
    margin-left: 0.15rem;
    margin-right: 0.1rem;
  }
  





