<div class="main-container">
    <section class="bg-dark space-sm">
        <h3>Cabaña 1</h3>
        <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "pageDots":false, "wrapAround":true, "autoPlay":false, "imagesLoaded":true }'>


            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña1/1.jpg" class="img-fluid rounded" />
                </a>

            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña1/2.jpg" class="img-fluid rounded" />
                </a>
            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña1/3.jpg" class="img-fluid rounded" />
                </a>

            </div>





            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña1/4.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña1/5.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña1/6.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña1/7.jpg" class="img-fluid rounded" />
                </a>
                
            </div>




        </div>
    </section>

    <section class="bg-dark space-sm">
        <h3>Cabaña 2</h3>
        <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "pageDots":false, "wrapAround":true, "autoPlay":false, "imagesLoaded":true }'>


            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña2/1.jpg" class="img-fluid rounded" />
                </a>

            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña2/2.jpg" class="img-fluid rounded" />
                </a>
            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña2/3.jpg" class="img-fluid rounded" />
                </a>

            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña2/4.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña2/5.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

        </div>
    </section>

    <section class="bg-dark space-sm">
        <h3>Cabaña 3</h3>
        <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "pageDots":false, "wrapAround":true, "autoPlay":false, "imagesLoaded":true }'>


            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/1.jpg" class="img-fluid rounded" />
                </a>

            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/2.jpg" class="img-fluid rounded" />
                </a>
            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/3.jpg" class="img-fluid rounded" />
                </a>

            </div>





            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/4.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/5.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/6.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/7.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña3/8.jpg" class="img-fluid rounded" />
                </a>
                
            </div>




        </div>
    </section>

    <section class="bg-dark space-sm">
        <h3>Cabaña 4</h3>
        <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "pageDots":false, "wrapAround":true, "autoPlay":false, "imagesLoaded":true }'>


            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/1.jpg" class="img-fluid rounded" />
                </a>

            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/2.jpg" class="img-fluid rounded" />
                </a>
            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/3.jpg" class="img-fluid rounded" />
                </a>

            </div>





            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/4.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/5.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/6.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/7.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/8.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/9.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña4/10.jpg" class="img-fluid rounded" />
                </a>
                
            </div>




        </div>
    </section>

    <section class="bg-dark space-sm">
        <h3>Cabaña 5</h3>
        <div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "pageDots":false, "wrapAround":true, "autoPlay":false, "imagesLoaded":true }'>


            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/1.jpg" class="img-fluid rounded" />
                </a>

            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/2.jpg" class="img-fluid rounded" />
                </a>
            </div>



            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/3.jpg" class="img-fluid rounded" />
                </a>

            </div>





            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/4.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/5.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/6.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/7.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/8.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/9.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/10.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/11.jpg" class="img-fluid rounded" />
                </a>
                
            </div>

            <div class="carousel-cell col-9 col-md-8 col-lg-5 text-center">
                <a class="d-block mb-3">
                    <img alt="Image" src="assets/img/cabaña5/12.jpg" class="img-fluid rounded" />
                </a>
                
            </div>




        </div>
    </section>


</div>