<section class="space-sm flush-with-above">
  <div class="container">
    <h3>Promociones</h3>
    <ul class="row feature-list feature-list-sm">

      <li class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <a >
            <img class="card-img-top" src="assets/img/invierno-tandil.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <h4 class="card-title">Invierno</h4>
            <p class="card-text">Promocion para aprovechar el invierno en tandil</p>
          </div>
          <!-- <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <div class="text-small">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="icon-heart"></i> 221</li>
                <li class="list-inline-item">
                  <i class="icon-message"></i> 14</li>
              </ul>
            </div>
            <div class="dropup">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="SidekickButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-dots-three-horizontal"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                <a class="dropdown-item" href="#">Save</a>
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Comment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Report</a>
              </div>
            </div>
          </div> -->
        </div>
      </li>
      <!--end of col-->

      <li class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <a >
            <img class="card-img-top" src="assets/img/otoño-tandil.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <h4 class="card-title">Otoño</h4>
            <p class="card-text">Disfruta de esta tremenda promocion de otoño</p>
          </div>
          <!-- <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <div class="text-small">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="icon-heart"></i> 90</li>
                <li class="list-inline-item">
                  <i class="icon-message"></i> 34</li>
              </ul>
            </div>
            <div class="dropup">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="PitstopButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-dots-three-horizontal"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PitstopButton">
                <a class="dropdown-item" href="#">Save</a>
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Comment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Report</a>
              </div>
            </div>
          </div> -->
        </div>
      </li>
      <!--end of col-->

      <li class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <a >
            <img class="card-img-top" src="assets/img/primavera-tandil.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <h4 class="card-title">Primavera</h4>
            <p class="card-text">Veni a pasar dias inolvidables y al mejor precio!</p>
          </div>
          <!-- <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <div class="text-small">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="icon-heart"></i> 84</li>
                <li class="list-inline-item">
                  <i class="icon-message"></i> 25</li>
              </ul>
            </div>
            <div class="dropup">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="pipeline.jsButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-dots-three-horizontal"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="pipeline.jsButton">
                <a class="dropdown-item" >Save</a>
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Comment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Report</a>
              </div>
            </div>
          </div> -->
        </div>
      </li>
      <!--end of col-->

      <!-- <li class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <a href="#">
            <img class="card-img-top" src="assets/img/graphic-product-paydar.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <h4 class="card-title">Paydar</h4>
            <p class="card-text">Location based touch payments</p>
          </div>
          <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <div class="text-small">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="icon-heart"></i> 253</li>
                <li class="list-inline-item">
                  <i class="icon-message"></i> 19</li>
              </ul>
            </div>
            <div class="dropup">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="PaydarButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="icon-dots-three-horizontal"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="PaydarButton">
                <a class="dropdown-item" href="#">Save</a>
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Comment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Report</a>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      <!--end of col-->

      <!-- <li class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <a href="#">
            <img class="card-img-top" src="assets/img/graphic-product-kin.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <h4 class="card-title">Kin</h4>
            <p class="card-text">The digital fashion assistant</p>
          </div>
          <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <div class="text-small">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="icon-heart"></i> 84</li>
                <li class="list-inline-item">
                  <i class="icon-message"></i> 21</li>
              </ul>
            </div>
            <div class="dropup">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="KinButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="icon-dots-three-horizontal"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="KinButton">
                <a class="dropdown-item" href="#">Save</a>
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Comment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Report</a>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      <!--end of col-->

      <!-- <li class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <a href="#">
            <img class="card-img-top" src="assets/img/graphic-product-bench.jpg" alt="Card image cap">
          </a>
          <div class="card-body">
            <h4 class="card-title">Bench</h4>
            <p class="card-text">Accounting for creative people</p>
          </div>
          <div class="card-footer card-footer-borderless d-flex justify-content-between">
            <div class="text-small">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="icon-heart"></i> 373</li>
                <li class="list-inline-item">
                  <i class="icon-message"></i> 62</li>
              </ul>
            </div>
            <div class="dropup">
              <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="BenchButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="icon-dots-three-horizontal"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="BenchButton">
                <a class="dropdown-item" href="#">Save</a>
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Comment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Report</a>
              </div>
            </div>
          </div>
        </div>
      </li> -->
      <!--end of col-->

    </ul>
    <!--end of row-->
  </div>
</section>