

<!-- Routed views go here -->

<div class="carousel">            
    <div class="carousel__control"> </div>            
    <div class="carousel__stage">            
        <div class="spinner spinner--left">            
            <div class="spinner__face js-active" data-bg="#27323c">            
                <div class="content" data-type="carousel-1">            
                    <div class="content__left">            
                        <h1>Title 1
                            <br>

                            <span>Subtitle 1</span>
                        </h1>

                    </div>
                                
                    <div class="content__right">

                        <div class="content__main">

                            <p>Description 1</p>

                        </div>

                        <h3 class="content__index">01</h3>

                    </div>

                </div>

            </div>

            <div class="spinner__face" data-bg="#19304a">

                <div class="content" data-type="carousel-2">

                    <div class="content__left">

                        <h1>Title 2
                            <br>

                            <span>Subtitle 2</span>
                        </h1>

                    </div>

                    <div class="content__right">

                        <div class="content__main">

                            <p>Description 2</p>

                        </div>

                        <h3 class="content__index">02</h3>

                    </div>

                </div>

            </div>

            <div class="spinner__face" data-bg="#2b2533">

                <div class="content" data-type="carousel-3">

                    <div class="content__left">

                        <h1>Title 3
                            <br>

                            <span>Subtitle 3</span>
                        </h1>

                    </div>

                    <div class="content__right">

                        <div class="content__main">

                            <p>Description 3</p>

                        </div>

                        <h3 class="content__index">03</h3>

                    </div>

                </div>

            </div>

            <div class="spinner__face" data-bg="#312f2d">

                <div class="content" data-type="carousel-4">

                    <div class="content__left">

                        <h1>Title 4
                            <br>

                            <span>Subtitle 4</span>
                        </h1>

                    </div>

                    <div class="content__right">

                        <div class="content__main">

                            <p>Description 4</p>

                        </div>

                        <h3 class="content__index">04</h3>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<!-- <app-body ></app-body > -->
<!-- <app-footer></app-footer> -->

